<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd">  
    <backupGlobals>true</backupGlobals>  
    <backupStaticAttributes>false</backupStaticAttributes>  
    <bootstrap>/path/to/bootstrap.php</bootstrap>  
    <cacheTokens>false</cacheTokens>  
    <colors>false</colors>  
    <convertErrorsToExceptions>true</convertErrorsToExceptions>  
    <convertNoticesToExceptions>true</convertNoticesToExceptions>  
    <forceCoversAnnotation>false</forceCoversAnnotation>  
    <mapTestClassesToCoveredClassesName>false</mapTestClassesToCoveredClassesName>  
    <printerClass>PHPUnit_TextUI_ResultPrinter</printerClass>  
    <processIsolation>false</processIsolation>  
    <stopOnError>false</stopOnError>  
    <stopOnFailure>false</stopOnFailure>  
    <stopOnIncomplete>false</stopOnIncomplete>  
    <stopOnSkipped>false</stopOnSkipped>  
    <stopOnRisky>false</stopOnRisky>  
    <testSuiteLoaderClass>PHPUnit_Runner_StandardTestSuiteLoader</testSuiteLoaderClass>  
    <testSuiteLoaderFile>/path/to/StandardTestSuiteLoader.php</testSuiteLoaderFile>  
    <timeoutForSmallTests>1</timeoutForSmallTests>  
    <timeoutForMediumTests>10</timeoutForMediumTests>  
    <timeoutForLargeTests>60</timeoutForLargeTests>  
    <verbose>false</verbose>  
